html {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  body .wrapper {
    -webkit-perspective: 900px;
            perspective: 900px; }
    body .wrapper #cube {
      position: relative;
      width: 300px;
      height: 300px;
      -webkit-transform-origin: 50% 50% -150px;
          -ms-transform-origin: 50% 50% -150px;
              transform-origin: 50% 50% -150px;
      -webkit-transform: rotate3d(1, 1, 1, 50deg);
              transform: rotate3d(1, 1, 1, 50deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      body .wrapper #cube .brink {
        width: 300px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        border: 10px solid #fff;
        border-radius: 10px;
        font-size: 5em;
        color: #fff;
        line-height: 300px;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        -webkit-transform-origin: 50% 50% -150px;
            -ms-transform-origin: 50% 50% -150px;
                transform-origin: 50% 50% -150px; }
      body .wrapper #cube .brink2 {
        -webkit-transform: rotateY(90deg);
                transform: rotateY(90deg); }
      body .wrapper #cube .brink3 {
        -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg); }
      body .wrapper #cube .brink4 {
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg); }
      body .wrapper #cube .brink5 {
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg); }
      body .wrapper #cube .brink6 {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg); }
