:root {

}
html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  perspective: 100px;
  transition: all 0.5s ease;
  .wrapper {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw 28vw 28vw;
    grid-template-rows:  28vh 28vh 28vh 28vh 28vh;
    grid-gap: 0;
    font-size: 160px;
    div {

      &.about {
        background-color: aliceblue;
      }
      &.bower {
        background-color: darkgreen;
      }
      &.contact {
        background-color: crimson;
      }
      &.extra {
        background-color: chocolate;
      }
      &.main {
        background-color: chartreuse;
      }
      &.portfolio {
        background-color: brown;
      }
      &.service {
        background-color: blueviolet;
      }
      &.stub1 {
        background-color: blue;
      }
      &.stub2 {
        background-color: aqua;
      }
      iframe {
        overflow: hidden;
      }
    }
  }
}
